<div class="large-9 push-3 columns">
  <h3><%= @app.name %> <small>TODO</small></h3>

  <% @app.errors.full_messages.each do |msg| %>
    <div data-alert class="alert-box alert">
      <span><%= msg %></span><br />
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <%= form_for(@app) do |f| %>
    <div class="section-container auto" data-section>
      <section>
      <p class="title" data-section-title><a href="#settings">Settings</a></p>
      <div class="content" data-section-content>
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :redirect_uri, "Redirect URI", :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.url_field :redirect_uri, :placeholder => "example.com", :required => true %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :app_key, :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :app_key, :disabled => "" %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :app_secret, :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :app_secret, :disabled => "" %>
          </div>
        </div>
      </div>
      </section>
      <section>
      <p class="title" data-section-title><a href="#detail">Detail</a></p>
      <div class="content" data-section-content>
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :name, "App Name", :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :name, :placeholder => "My App with SNU OAuth", :required => true %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :publisher, :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :publisher %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :description, :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.text_area :description %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :website, "App website", :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <%= f.url_field :website %>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="small-3 columns">
            <%= f.label :icons, "App icons", :class => "right inline" %>
          </div>
          <div class="small-9 columns">
            <small>TODO</small>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="small-3 columns">
          </div>
          <div class="small-9 columns">
            <%= f.submit "Save changes", :class => "button small" %>
            <%= link_to "Cancel", apps_path, :class => "button small secondary" %>
          </div>
        </div>
      </div>
      </section>
      <section>
      <p class="title" data-section-title><a href="#requests">Requests</a></p>
      <div class="content" data-section-content>
        <% @app.app_requests.each do |ar| %>
          <hr />
        <% end %>
      </div>
      </section>
    </div>
  <% end %>
</div>
