<div class="large-9 push-3 columns">
  <h3>FAQ <small><%= link_to "Create post", new_post_path, :class => "button small right" %></small></h3>

  <% @posts.each do |post| %>
    <div class="row">
      <div class="small-3 large-2 columns "><img src="http://placehold.it/80x80&amp;text=[img]"></div>
      <div class="small-9 large-10 columns">
        <p><strong><%= post.user.email %> said:</strong> <%= post.content %></p>
        <div class="right"><span class="radius secondary label"><%= post.created_at.strftime("%m-%d %H:%M") %></span></div>

        <ul class="inline-list">
          <% if user_signed_in? %>
            <li><%= link_to "Reply", new_comment_path(:post_id => post.id), :remote => true %></li>
            <% if post.user.id == current_user.id %>
              <li><%= link_to "Delete", post_path(post), :method => :delete, :confirm => "Are u sure?" %></li>
            <% end %>
          <% end %>
        </ul>

        <div id="post-<%= post.id %>-comment"></div>
        <div id="post-<%= post.id %>-comments">
          <% post.comments.each do |comment| %>
            <%= render :partial => "comments/component", :locals => {:comment => comment} %>
          <% end %>
        </div>
      </div>
    </div>
    <hr />
  <% end %>
</div>
